<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="logback" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="DEBUG">
        <appender-ref ref="logback" />
    </root>
</configuration>